{% extends 'hospital/admin_base.html' %}
{% load static %}
{% block content %}
{%include 'hospital/admin_dashboard_cards1.html'%}
<br><br><br><br>
{% if can_appointment_count > 0  %}
<div class="container">
  <div class="row">
    <div class="panel panel-primary col-md-5" style="margin-left:2%;">
      <div class="panel-heading" style="text-align:center;">
        <h6 class="panel-title">Cancelled Apointments</h6>
      </div>
      <table class="table table-hover" id="dev-table">

        <thead>
          <tr>
            <th>Doctor Name</th>
            <th>Patient Name</th>
            <th>Appointment Date and Timing</th>
            <th></th>
          </tr>
        </thead>
        {% for d in can_appointment %}
        <tr>
          <td>{{d.doctorId.user.first_name}} {{d.doctorId.user.last_name}</td>
          <td>{{d.patientId.user.first_name}} {{d.patientId.user.last_name}}</td>
          <td> {{d.date}}</td>
          <td><button type='button'class="btn btn-fill btn-primary" style="margin-left: 15px" onclick=" location.href='{% url "confirm" d.appointmentId %}' " >Notified</button></td>

        </tr>
        {% endfor %}
      </table>
    </div>
    </div>
  </div>
  {% endif %}


<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/lazycoders
-->

{% endblock content %}
