{% extends 'hospital/patient_base.html' %}
{% block content %}
{% load static %}
<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }
   
    .row {
      margin: 100px;
    }
  </style>
</head>
   
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Your Records</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Record ID</th>
          <th>Description</th>
          <th>Date</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      {% for a in descriptionlist %}
      <tr>
        <td> {{a.rid.rid}}</td>
        <td> {{a.type}} </td>
        <td> {{a.title}} </td>
        <td> <img src={{a.recimage}}></img></td>

        <td> <form action="" method="post">
                   {% csrf_token %}
            <button name="clicked" value="{{a.id}}">  View </button>
          </form></td>

      {% endfor %}
    </table>
    </div>
</div>

<!-- <img src="{{ desc.recimage.url }}" width="300" height="200"> </img> -->

 

{% endblock content %}
